@import "../sass/abstracts/variables.scss";
@import "../sass/abstracts/mixins.scss";
@import "../sass/bases/typography.scss";
@import "../sass/layouts/header.scss";
@import "../sass/layouts/Nav.scss";
@import "../sass/layouts/main.scss";
@import "../sass/layouts/footer.scss";
@import "../sass/components/coeur.scss";
@import "../sass/pages/resto.scss";


/*Section menu*/
.main__resto__carte{
    background-color: white;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    border-radius: 20px;    
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    &__description{
        padding-left: 10px;
        @include overflow;
        h3{
            margin-bottom: 0;
            @include overflow;
        }
        p{
            margin-top: 0.1rem;
            @include overflow;
        }
    }
    &:hover{
        .main__resto__check{
            display: block;
            animation: slidinright 700ms ease-in-out forwards;        
        }
    }
}

.main__resto__prix{
    margin-right: 1rem;
    margin-top: 2rem;
}

.btn_commander{
    @include btn_commander;
}

.main__resto__check{
    display: none;
    text-align: center;
    height: 100%;
    background-color: $color-tertiary;
    i{
        font-size: 40px;
        color: white;
        margin-top: 20px;
        animation: rotate 700ms;

    }
}

@keyframes slidinright {
    from{width: 0;}
    to{width: 100px;}
    
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to  {transform: rotate(360deg);}
  }


