@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

.block_page {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

header {
  text-align: center;
}

header--index {
  position: relative;
  -webkit-box-shadow: 0px 4px 5px #cecece;
          box-shadow: 0px 4px 5px #cecece;
}

.logo {
  font-family: 'Shrikhand', sans-serif;
}

.logo--header {
  font-size: 38px;
  width: 250px;
  text-align: center;
  color: #353535;
}

/*nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  padding: 20px 0;
  width: 100%;
}

.nav__i {
  margin-right: 10px;
}

/*barre de recherche*/
.nav__recherche input {
  height: 20px;
  width: 120px;
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
}

.nav__recherche input:focus {
  outline: none;
  border: none;
}

.main_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*Section présentation*/
.main__section__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: #f6f6f6;
}

.main__section__presentation__h1 {
  width: 80%;
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 0;
}

.main__section__presentation__p {
  width: 90%;
}

.main__section__presentation__btn {
  height: 50px;
  width: 215px;
  border-radius: 50px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px #9c9c9c;
          box-shadow: 0px 0px 6px #9c9c9c;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.main__section__presentation__btn:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Main fonctionnement*/
.main__fonctionnement {
  width: 90%;
  padding: 30px 0;
}

.main__fonctionnement__fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 8px #d3d3d3;
          box-shadow: 0px 0px 8px #d3d3d3;
  font-weight: 500;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main__fonctionnement__fonction:hover {
  background-color: #f2eafb;
}

.main__fonctionnement__i {
  padding: 0 20px 0 10px;
}

.main__fonctionnement__fonction__chiffre {
  margin-right: 5px;
  margin-left: -9px;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 30px;
  color: white;
}

/*Main cartes*/
.main__cartes {
  background-color: #f6f6f6;
  width: 100%;
}

.main__cartes__h2 {
  margin-left: 5%;
}

.main__cartes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main__cartes__carte {
  width: 90%;
  height: 285px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 8px #C2C2C2;
          box-shadow: 0px 0px 8px #C2C2C2;
}

.main__cartes__carte__img {
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0px;
}

.main__cartes__carte__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.main__cartes__carte__description__h3 {
  margin: 10px 0 0 0;
}

.main__cartes__carte__description__loc {
  margin: 5px 0;
}

.main_index a {
  color: #353535;
}

footer {
  background-color: #353535;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0 20px 15px;
}

footer a {
  color: white;
}

.footer__service {
  margin-bottom: 10px;
}

.footer__service__i1 {
  font-size: 15px;
  padding-right: 7px;
}

.footer__service__i2 {
  font-size: 12px;
  padding-right: 5px;
}

.coeur {
  font-size: 25px;
}

/*Section menu*/
.main__resto__entrees {
  margin-bottom: 35px;
}

.main__resto__entrees h2 {
  font-size: large;
  font-weight: 300;
}

.main__resto__entrees .main__resto__border {
  border-bottom: 3px solid #99E2D0;
}

.main__resto__entrees__carte {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  border-radius: 20px;
  padding: 0px 30px 0 10px;
  margin-bottom: 10px;
}

.main__resto__entrees__carte__description h3 {
  margin-bottom: 0;
}

.main__resto__entrees__carte__description p {
  margin-top: 0.1rem;
}

/*Header page resto*/
.header__resto__nav__i {
  position: absolute;
  left: 20px;
  top: 20px;
}

.header__resto i {
  font-size: 20px;
}

.header__resto__banniere {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/*main resto*/
.main__resto {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
}

.main__resto__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  width: 100%;
}

.main__resto__heading h1 {
  font-size: 1.8rem;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */