@import "../sass/abstracts/variables.scss";
@import "../sass/abstracts/mixins.scss";
@import "../sass/bases/typography.scss";
@import "../sass/layouts/header.scss";
@import "../sass/layouts/Nav.scss";
@import "../sass/layouts/main.scss";
@import "../sass/layouts/footer.scss";
@import "../sass/components/coeur.scss";
@import "../sass/pages/resto.scss";




/*Header page resto*/

.header__resto{

    &__nav__i{
        position: absolute;
        left: 20px;
        top: 20px;
    }
    i{
        font-size: 20px;
    }
    &__banniere{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    }
}

/*main resto*/

.main__resto{
    background-color: #f2f2f2;
    position: relative;
    width: 100%;
    padding: 0 20px 20px 20px;
    margin-top: -50px;
    border-radius: 40px 40px 0 0;
    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Shrikhand", sans-serif;
        width: 100%;
        h1{
            font-size: 1.8rem;
            font-weight: 500;
            
        } 
    }
}

/*Section entrées*/

.main__resto__entrees{
    h2{
        font-size: large;
        font-weight: 300;
    }
}