@import "../abstracts/variables.scss";

.coeur_remplie{
    font-size: 25px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    background-clip:text;
    position: absolute;
    right: 20px;
    color: transparent;
    opacity: 0;
    transition: all 200ms;
    &:hover{
        opacity: 1;
        transform: scale(1.1);
    }
    
}

.coeur{
    font-size: 25px;   
}