@charset "UTF-8";
/*Header page resto*/
.header__resto a {
  color: black;
}

.header__resto__nav__i {
  position: absolute;
  left: 20px;
  top: 20px;
}

.header__resto i {
  font-size: 20px;
}

.header__resto__banniere {
  width: 100%;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*main resto*/
.main__resto {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  padding: 0 20px 50px 20px;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__resto__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  width: 100%;
}

.main__resto__heading h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.main__resto__menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*Style de toutes les sections entrées/plats/desserts */
.main__resto__menu {
  margin-bottom: 20px;
  width: 100%;
}

.main__resto__menu h2 {
  font-size: large;
  font-weight: 300;
}

.main__resto__menu .main__resto__border {
  border-bottom: 3px solid #99E2D0;
}

/*Section menu*/
.main__resto__carte {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  border-radius: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.main__resto__carte__description {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__resto__carte__description h3 {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__resto__carte__description p {
  margin-top: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__resto__carte:hover .main__resto__check {
  display: block;
  -webkit-animation: slidinright 700ms ease-in-out forwards;
          animation: slidinright 700ms ease-in-out forwards;
}

.main__resto__prix {
  margin-right: 1rem;
  margin-top: 2rem;
}

.main__resto__check {
  display: none;
  text-align: center;
  height: 100%;
  background-color: #99E2D0;
}

.main__resto__check i {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  -webkit-animation: rotate 700ms;
          animation: rotate 700ms;
}

/*Animation d'apparition des menus*/
.fadein {
  -webkit-animation: fadeIn linear 2s;
          animation: fadeIn linear 2s;
}

.fadein--entrees {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

.fadein--plats {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fadein--desserts {
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
}

/*Modifications version PC*/
@media screen and (min-width: 992px) {
  .main__resto__menu_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .main__resto__menu {
    width: 30%;
  }
}
/*# sourceMappingURL=resto.css.map */