@import "../../sass/abstracts/variables.scss";
@import "../abstracts/mixins.scss";

/*Header page resto*/

.header__resto{
    a{
        color: black;
    }

    &__nav__i{
        position: absolute;
        left: 20px;
        top: 20px;
    }
    i{
        font-size: 20px;
    }
    &__banniere{
    width: 100%;
    height: 365px;
    object-fit: cover;
    }
}



/*main resto*/

.main__resto{
    background-color: #f2f2f2;
    position: relative;
    width: 100%;
    padding: 0 20px 50px 20px;
    margin-top: -50px;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Shrikhand", sans-serif;
        width: 100%;
        h1{
            font-size: 1.8rem;
            font-weight: 500;
        } 
    }
}

.main__resto__menu_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/*Style de toutes les sections entrées/plats/desserts */

.main__resto__menu{
    margin-bottom: 20px;
    width: 100%;
    h2{
        font-size: large;
        font-weight: 300;
    }
    .main__resto__border{
        border-bottom: 3px solid $color-tertiary;
    }
}




/*Section menu*/
.main__resto__carte{
    background-color: white;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    border-radius: 20px;    
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    &__description{
        padding-left: 10px;
        @include overflow;
        h3{
            margin-bottom: 0;
            @include overflow;
        }
        p{
            margin-top: 0.1rem;
            @include overflow;
        }
    }
    &:hover{
        .main__resto__check{
            display: block;
            animation: slidinright 700ms ease-in-out forwards;    
        }
    }
}

.main__resto__prix{
    margin-right: 1rem;
    margin-top: 2rem;
}

.main__resto__check{
    display: none;
    text-align: center;
    height: 100%;
    background-color: $color-tertiary;
    i{
        font-size: 40px;
        color: white;
        margin-top: 20px;
        animation: rotate 700ms;

    }
}

/*Animation d'apparition des menus*/
.fadein{
    animation: fadeIn linear 2s;
}

.fadein--entrees{
    animation-duration: 1.3s;
}

.fadein--plats{
    animation-duration: 1s;
}

.fadein--desserts{
    animation-duration: 700ms;
}







/*Modifications version PC*/
@media screen and (min-width:992px){
    .main__resto__menu_box{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .main__resto__menu{
        width: 30%;
    }
}

