header{
    text-align: center;
}

.header--index{
    box-shadow: 0px 2px 5px #cecece;
    position: relative;
}


.logo{
    font-family: 'Shrikhand', sans-serif;
}

.logo--header{
    font-size: 38px;
    width: 250px;
    text-align: center;
    color: #353535;
}


  