header{
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 5px #cecece
}

.logo{
    font-family: 'Shrikhand', sans-serif;
}

.logo--header{
    font-size: 38px;
    width: 250px;
    text-align: center;
    color: #353535;
  }
  